<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Edward Viaene">
    <title>Login example</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body class="bg-light">
    <div class="container">
      <main>
        <div class="py-5">
          <h1>Login form</h2>
          <p class="lead">Login form example from templates/login.html</p>
        
            <form action="/login" method="post">
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="login" class="form-label">Login</label>
                  <input type="text" class="form-control" name="login" id="login" placeholder="" value="" required>
                </div>
              </div>
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="login" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="" value="" required>
                </div>
              </div>
              <hr class="my-4 w-50">
              <input type="hidden" name="sessionID" value="$SESSIONID" />
              <button class="w-50 btn btn-primary btn-lg" type="submit">Login</button>
            </form>

      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

  </body>
  </html>